<div style="border:solid green 3px; padding: 20px">

<b>Привет!</b>

Меня зовут Сороколетов Илья и я буду проверять твой проект. 

Предлагаю общаться на «**ты**», но если тебе будет комфортнее общаться на «**вы**», то сообщи об этом в комментариях)


Для твоего удобства, я буду выделять свои комментарии следующим образом:

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера v1:</b> Самые важные замечания. Они указывают на ключевые моменты, которые влияют на конечный результат проекта. </div>

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> Советы или замечания, которые помогут сделать твою работу лучше, но необязательны к выполнению.

</div>

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> Так я выделяю все остальные комментарии.</div>


Пометками <b>v1-v2-v3-...</b> я буду отмечать версию проверки. Так ты сможешь быстро найти мои новые комментарии.

Давай работать над проектом в диалоге: если ты что-то меняешь в проекте по моим рекомендациям — пиши об этом. Выбери для своих комментариев какой-то заметный цвет, так мне будет легче отследить изменения, например вот так:
    
<div class="alert alert-info">
<b>Комментарий студента:</b>
<br>
</div>

<b>Пожалуйста, не перемещай, не изменяй и не удаляй мои комментарии.</b> Если ты оставляешь свои комментарии, то делай это под моими, чтобы сообщения были расположены в хронологическом порядке. Всё это поможет выполнить повторную проверку твоего проекта быстрее. 
Если ты оставляешь свои комментарии, то делай это под моими, чтобы сообщения были расположены в хронологическом порядке. Всё это поможет выполнить повторную проверку твоего проекта быстрее. 

Перед отправкой работы я рекомендую нажимать Kernel -> Restart & Run All. Это перезапустит ядро и по очереди выполнит все ячейки. Так ты сможешь проверить, что всё работает корректно. Кнопка Kernel находится в панели сверху

Обязательно задавай вопросы если они возникнут, а я перехожу к проверке)

P.S. На всякий случай, я оставлю пустой шаблон для твоих комментариев ниже. Кликни два раза на мой комментарий, скопируй последние четыре строчки кода и вставляй их в пустую ячейку там, где ты хочешь оставить комментарий. Не забудь только перед этим сменить тип ячейки на Markdown. Быстро это можно сделать так: кликнуть на ячейку - нажать ESC - нажать M. 
    
    
<div class="alert alert-info">
<b>Комментарий студента:</b>
<br>Место для твоего комментария
</div>

# Исследование надежности заемщиков.

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> 
<br>Лучше оставляй перед проектом краткое описание задачи. Это поможет тебе быстро вспомнить о чем проект, если спустя время ты решишь к нему вернуться)
</div>

### Шаг 1. Обзор данных

В данной таблице наблюдаются пропуски в столбцах: days_employed и total_income.\
Пропуски парные, то есть отсутствует значения в обоих столбцах.
Доля пропусков порядка 10% пи этом группировка по остальным столбцам показала, что пропущенные значения некатегоризируются в какой-то группе, а носят органический характер (равно распределены во все группах).
Следовательно, отсюда можно сделать вывод, что пропущенные значения можно заменить на медианные тем самым сохранив 10% данных при это не сместив выборку.\
\
Причина появления пропусков:
- некорректное заведения данных формата Дата
- отсутствие дохода следствие отсутствия трудового стажа (умножение на 0)

In [1]:
import pandas as pd
data=pd.read_csv('/datasets/data.csv')
#data.info()
#print(data.head(20))
mistake_1=data['days_employed'].isnull().sum()/data['children'].count() # Рассчет доли пропусков
mistake_2=data['total_income'].isnull().sum()/data['children'].count() # Рассчет доли пропусков

print('Доля пропущенные значения составляют в столбце days_employed = {:.2f}'.format(mistake_1))
print('Доля пропущенные значения составляют в столбце total_income = {:.2f}'.format(mistake_2))

# Проверка распределения пропусков  по категориям
rows=(data['days_employed'].isnull())&(data['total_income'].isnull())
data_n=data.loc[rows]
print(data_n.groupby('purpose')['children'].count()/
data.groupby('purpose')['children'].count())

Доля пропущенные значения составляют в столбце days_employed = 0.10
Доля пропущенные значения составляют в столбце total_income = 0.10
purpose
автомобили                                0.119247
автомобиль                                0.082828
высшее образование                        0.088300
дополнительное образование                0.103896
жилье                                     0.092736
заняться высшим образованием              0.112903
заняться образованием                     0.133495
на покупку автомобиля                     0.063559
на покупку подержанного автомобиля        0.087683
на покупку своего автомобиля              0.104950
на проведение свадьбы                     0.118404
недвижимость                              0.097792
образование                               0.093960
операции с жильем                         0.113323
операции с коммерческой недвижимостью     0.107527
операции с недвижимостью                  0.090237
операции со своей недвижимостью           0.112698
покупка жилой недвижимости                0.100494
покупка жилья                             0.080371
покупка жилья для сдачи                   0.099541
покупка жилья для семьи                   0.110764
покупка коммерческой недвижимости         0.100904
покупка недвижимости                      0.115385
покупка своего жилья                      0.074194
получение высшего образования             0.084507
получение дополнительного образования     0.114094
получение образования                     0.112867
приобретение автомобиля                   0.093074
профильное образование                    0.107798
ремонт жилью                              0.114379
свадьба                                   0.095358
свой автомобиль                           0.108333
сделка с автомобилем                      0.101099
сделка с подержанным автомобилем          0.110429
строительство жилой недвижимости          0.073482
строительство недвижимости                0.095161
строительство собственной недвижимости    0.118110
сыграть свадьбу                           0.104651
Name: children, dtype: float64

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> 
<br>Все библиотеки лучше импортировать отдельно в первой ячейке. Это позволит тебе в любой момент добавить ещё одну библиотеку без перезаписи переменных.
</div>

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Ещё можно посмотреть долю пропущенных значений среди всех данных следующим способом
    
    df.isna().mean()
</div>

### Шаг 2.1 Заполнение пропусков

Для расчёта корректного значения медианы для столбца 'days_employed' необходимо предварительно убрать все отрицательные значения.\
Предположу, что отрицательные значения были получены в связи с некорректно прописанной текущей датой ( когда клиент работает на момент взятия кредита).\
Исправлю значения на модуль.

In [2]:

data['days_employed']=abs(data['days_employed']) # Убрал отрицательные значения 

median_day=data['days_employed'].median(skipna=True)# Рассчет медианы по трудовым дням

median_total_income=data['total_income'].median(skipna=True)# Рассчет медианы по Доходу

print('Медиана days_employed = {:.0f}'.format(median_day)) 
print('Медиана total_income = {:.0f}'.format(median_total_income))

data['days_employed']=data['days_employed'].fillna(value=median_day) # заполнение пустых значений
data['total_income']=data['total_income'].fillna(value=median_total_income) # заполнение пустых значений
print()
data.info()# проверка

Медиана days_employed = 2194
Медиана total_income = 145018

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Всё верно! Также здесь можно заполнить пропуски более оптимальным способом - медианой, в зависимости от типа занятости. Для этого отлично подойдёт функция transform:

    df['total_income'] = df['total_income'].fillna(df.groupby('income_type')['total_income'].transform("median"))

<br>Она создаёт новый столбец, который содержит столько же строк, сколько и изначальный, но только вместо оригинальных значений в каждой строке содержится медиана посчитанная по заданной группе. После этого вместо пропусков в оригинальном столбце мы подставляем значения из созданного столбца, то есть медианы в зависимости от группы.
</div>

### Шаг 2.2 Проверка данных на аномалии и исправления.

Первую аномалию убрали на предыдущем этапе - Отрицательные значения в столбце days_employed\
Следующие шаги поиск аномальных и экстремальных значений:

In [3]:
print('Проверка значений по полю Дети')
print()
print('максимальное',data['children'].max())# ищем максимум
print('минимальное',data['children'].min())# ищим минимум
#print(data['children'].value_counts())
print()
print('Исключим экстремальные значения из распределения по детям ')
print()
data= data.loc[data['children']!=20]
data= data.loc[data['children']!=-1]

print(data['children'].value_counts()) # оценка конечного распределения

Проверка значений по полю Дети

максимальное 20
минимальное -1

Исключим экстремальные значения из распределения по детям

0    14149
1     4818
2     2055
3      330
4       41
5        9
Name: children, dtype: int64

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b>
<br>Отличное решение!
</div>

In [4]:
print('Проверка значений по полю Возраст')
print()
print('максимальное',data['dob_years'].max())# ищем максимум
print('минимальное',data['dob_years'].min())# ищем минимум
#print(data['dob_years'].value_counts())
print()
print('Изменим возраст клиента на 19 т.к. минимальный возраст взятия кредита ')
print()
data['dob_years'].replace(0,19,inplace = True) # проводим замену значений
print('максимальное',data['dob_years'].max())
print('минимальное',data['dob_years'].min())

Проверка значений по полю Возраст

максимальное 75
минимальное 0

Изменим возраст клиента на 19 т.к. минимальный возраст взятия кредита

максимальное 75
минимальное 19

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> 
<br>Не стоит делать замену ради замены, очень важна аргументация, почему ты подставляешь именно такое значение и насколько оно реалистично. Если мы заполняем пропуски таким образом, то у нас могут появится пенсионеры которым по 19 лет. Так как нулевых значений в этом столбце меньше 1%, то их можно либо удалить либо вообще не трогать, так как сам столбец нам не нужен для дальнейшего исследования
</div>

In [5]:
print(data['gender'].value_counts())  
print()
print('удалим клиента с неопределённым полом')
print()
data=data.loc[data['gender']!='XNA']
print(data['gender'].value_counts())

F      14154
M       7247
XNA        1
Name: gender, dtype: int64

удалим клиента с неопределённым полом

F    14154
M     7247
Name: gender, dtype: int64

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b>
<br>Поддерживаю! Так как мы не можем достоверно сказать, к какому полу ближе это значение, его стоит или удалить или не трогать)
</div>

### Шаг 2.3. Изменение типов данных.

In [6]:
data['total_income']=data['total_income'].astype('int64') 
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21401 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21401 non-null  int64
 1   days_employed     21401 non-null  float64
 2   dob_years         21401 non-null  int64
 3   education         21401 non-null  object
 4   education_id      21401 non-null  int64
 5   family_status     21401 non-null  object
 6   family_status_id  21401 non-null  int64
 7   gender            21401 non-null  object
 8   income_type       21401 non-null  object
 9   debt              21401 non-null  int64
 10  total_income      21401 non-null  int64
 11  purpose           21401 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.1+ MB

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Тут всё верно!
</div>

### Шаг 2.4. Удаление дубликатов.

1) Дубликаты были выявлены в стобце 'education' убираем через приведение всех записей в строчный вид. \
2) Найдена 71 строчка полных  дубликатов. Удалены методом drop_duplicates()

In [7]:
#print(data['education'].value_counts())
data['education']=data['education'].str.lower() # Приведем все записи к нижнему регистру.
print(data['education'].value_counts())

среднее                15136
высшее                  5237
неоконченное высшее      740
начальное                282
ученая степень             6
Name: education, dtype: int64

In [8]:

data['family_status']=data['family_status'].str.lower()  # Приведем все записи к нижнему регистру.
print(data['family_status'].value_counts())

женат / замужем          12302
гражданский брак          4159
не женат / не замужем     2799
в разводе                 1189
вдовец / вдова             952
Name: family_status, dtype: int64

In [9]:
print('кол-во дубликатов:',data.duplicated().sum()) # поиск полных дубликатов
data=data.drop_duplicates()
print('кол-во дубликатов после удаления:',data.duplicated().sum())

кол-во дубликатов: 71
кол-во дубликатов после удаления: 0

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Супер! От дубликатов тоже избавились
</div>

### Шаг 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.

In [10]:
educat = data[['education', 'education_id']]
educat=educat.drop_duplicates().reset_index(drop = True)
print(educat)

             education  education_id
0               высшее             0
1              среднее             1
2  неоконченное высшее             2
3            начальное             3
4       ученая степень             4

In [11]:
family = data[['family_status', 'family_status_id']]
family=family.drop_duplicates().reset_index(drop = True)
print(family)

           family_status  family_status_id
0        женат / замужем                 0
1       гражданский брак                 1
2         вдовец / вдова                 2
3              в разводе                 3
4  не женат / не замужем                 4

In [12]:
data=data[['children','days_employed','dob_years','education','family_status','gender','income_type',
           'debt','total_income','purpose']]
data.info()
print(data.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21330 entries, 0 to 21524
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   children       21330 non-null  int64
 1   days_employed  21330 non-null  float64
 2   dob_years      21330 non-null  int64
 3   education      21330 non-null  object
 4   family_status  21330 non-null  object
 5   gender         21330 non-null  object
 6   income_type    21330 non-null  object
 7   debt           21330 non-null  int64
 8   total_income   21330 non-null  int64
 9   purpose        21330 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 1.8+ MB
0

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Тут всё правильно 👌
</div>

### Шаг 2.6. Категоризация дохода.

In [13]:
def total_income_category (total_income):
    if total_income<=30000:
        return 'E'
    if total_income<=50000:
        return 'D'
    if total_income<=200000:
        return 'C'
    if total_income<=1000000:
        return 'B'
    else:
        return 'A'
data['total_income_category']=data['total_income'].apply(total_income_category)
print(data.head(10))

   children  days_employed  dob_years education     family_status gender  \
0         1    8437.673028         42    высшее   женат / замужем      F
1         1    4024.803754         36   среднее   женат / замужем      F
2         0    5623.422610         33   среднее   женат / замужем      M
3         3    4124.747207         32   среднее   женат / замужем      M
4         0  340266.072047         53   среднее  гражданский брак      F
5         0     926.185831         27    высшее  гражданский брак      M
6         0    2879.202052         43    высшее   женат / замужем      F
7         0     152.779569         50   среднее   женат / замужем      M
8         2    6929.865299         35    высшее  гражданский брак      F
9         0    2188.756445         41   среднее   женат / замужем      M

  income_type  debt  total_income                     purpose  \
0   сотрудник     0        253875               покупка жилья
1   сотрудник     0        112080     приобретение автомобиля
2   сотрудник     0        145885               покупка жилья
3   сотрудник     0        267628  дополнительное образование
4   пенсионер     0        158616             сыграть свадьбу
5   компаньон     0        255763               покупка жилья
6   компаньон     0        240525           операции с жильем
7   сотрудник     0        135823                 образование
8   сотрудник     0         95856       на проведение свадьбы
9   сотрудник     0        144425     покупка жилья для семьи

  total_income_category
0                     B
1                     C
2                     C
3                     B
4                     C
5                     B
6                     B
7                     C
8                     C
9                     C

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Категоризация клиентов по уровню дохода произведена верно
</div>

### Шаг 2.7. Категоризация целей кредита.

In [14]:
def purpose_type(row):
    if 'авто' in row['purpose']:
        return 'операции с автомобилем'
    if 'свадьб' in row['purpose']:
        return 'проведение свадьбы'
    if 'жи' in row['purpose']:
        return 'операции с недвижимостью'
    if 'образов' in row['purpose']:
        return 'получение образования'


data['purpose_type']=data.apply(purpose_type, axis=1)


print(data.head(10))

   children  days_employed  dob_years education     family_status gender  \
0         1    8437.673028         42    высшее   женат / замужем      F
1         1    4024.803754         36   среднее   женат / замужем      F
2         0    5623.422610         33   среднее   женат / замужем      M
3         3    4124.747207         32   среднее   женат / замужем      M
4         0  340266.072047         53   среднее  гражданский брак      F
5         0     926.185831         27    высшее  гражданский брак      M
6         0    2879.202052         43    высшее   женат / замужем      F
7         0     152.779569         50   среднее   женат / замужем      M
8         2    6929.865299         35    высшее  гражданский брак      F
9         0    2188.756445         41   среднее   женат / замужем      M

  income_type  debt  total_income                     purpose  \
0   сотрудник     0        253875               покупка жилья
1   сотрудник     0        112080     приобретение автомобиля
2   сотрудник     0        145885               покупка жилья
3   сотрудник     0        267628  дополнительное образование
4   пенсионер     0        158616             сыграть свадьбу
5   компаньон     0        255763               покупка жилья
6   компаньон     0        240525           операции с жильем
7   сотрудник     0        135823                 образование
8   сотрудник     0         95856       на проведение свадьбы
9   сотрудник     0        144425     покупка жилья для семьи

  total_income_category              purpose_type
0                     B  операции с недвижимостью
1                     C    операции с автомобилем
2                     C  операции с недвижимостью
3                     B     получение образования
4                     C        проведение свадьбы
5                     B  операции с недвижимостью
6                     B  операции с недвижимостью
7                     C     получение образования
8                     C        проведение свадьбы
9                     C  операции с недвижимостью

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Основные цели кредита определены правильно! 👍
</div>

### Ответы на вопросы.

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера v1:</b> 
<br>В каждом вопросе необходимо выделить группу с минимальной и максимальной вероятностью к просрочке. Также нужно провести отдельный расчет для зависимости вероятности просрочки от уровня дохода
</div>

##### Вопрос 1:

In [15]:

def children_tip(row):
    if row['children']==0:
        return 'без детей'
    if row['children']<3:
        return '1-2 ребенка'
    if row['children']>=3:
        return 'многодетные'

data['children_tip']=data.apply(children_tip, axis=1)

data_debt=data.loc[data['debt']==1]
answer1=data_debt.groupby('children_tip')['debt'].count()/data.groupby('children_tip')['debt'].count()
print(answer1)
print()
print( 'Минимальное значение:', answer1.sort_values().head(1))
print()
print('Максимальное значение:',answer1.sort_values(ascending= False).head(1))

children_tip
1-2 ребенка    0.093003
без детей      0.075444
многодетные    0.081579
Name: debt, dtype: float64

Минимальное значение: children_tip
без детей    0.075444
Name: debt, dtype: float64

Максимальное значение: children_tip
1-2 ребенка    0.093003
Name: debt, dtype: float64

Кол-во детей не влияет на возврат кредита. Зависимость отсутствует.

##### Вопрос 2:

In [16]:
answer1=data_debt.groupby('family_status')['debt'].count()/data.groupby('family_status')['debt'].count()
print(answer1)
print()
print( 'Минимальное значение:', answer1.sort_values().head(1))
print()
print('Максимальное значение:',answer1.sort_values(ascending= False).head(1))

family_status
в разводе                0.070648
вдовец / вдова           0.066246
гражданский брак         0.093153
женат / замужем          0.075606
не женат / не замужем    0.097639
Name: debt, dtype: float64

Минимальное значение: family_status
вдовец / вдова    0.066246
Name: debt, dtype: float64

Максимальное значение: family_status
не женат / не замужем    0.097639
Name: debt, dtype: float64

Явной зависимости не наблюдается, но можно сделать косвенный вывод, что статусы присущие "молодым" (гражданский брак, не женат/не замужем) имеют выше показатели невозврата кредитных средств. Возможно, корреляция с возрастом клиента.

##### Вопрос 3:

In [17]:
answer1=data.pivot_table(index=[ 'total_income_category'], values='debt', aggfunc='mean')
print(answer1)
print()
print( 'Минимальное значение:', answer1.sort_values(by='debt').head(1))
print()
print('Максимальное значение:',answer1.sort_values(by='debt', ascending= False).head(1))

                           debt
total_income_category
A                      0.080000
B                      0.070630
C                      0.084977
D                      0.060172
E                      0.090909

Минимальное значение:                            debt
total_income_category
D                      0.060172

Максимальное значение:                            debt
total_income_category
E                      0.090909

##### Вывод 1:

In [1]:
data_pivot1 = data.pivot_table(index=[ 'purpose_type'], columns='total_income_category', values='debt', aggfunc='sum')
data_pivot2 = data.pivot_table(index=[ 'purpose_type'], columns='total_income_category', values='debt', aggfunc='count')
print(data_pivot1)
print()
print(data_pivot1/data_pivot2)

NameError: name 'data' is not defined

Распределение по целям показывает, что наиболее востребованным является кредиты на недвижимость для клиентов у которых зарплата находятся в пределах  от  30 000  до 200 000  тыс. руб.

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера v1:</b> 
<br>У тебя верные расчеты, но давай их сделаем более оптимальным способом, построив сводные таблицы используя метод pivot_table. Построй её для ответа на любой из вопросов и в расчитай внутри таблицы долю должников внутри каждой группы. С этим может помочь aggfunc='mean'
</div>

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v2:</b>
<br>Сводная таблица построена верно!
</div>

In [19]:
data_p=data.pivot_table(index=[ 'children_tip','family_status','purpose_type'], columns='total_income_category', values='debt', aggfunc='mean')
data_p.style.background_gradient(cmap="Blues")

## Общий вывод:

Проведенное исследование показывает, что возврат /не возврат кредита слабо зависит от социального положения клиента.\
Востребованность кредитов характерна для клиентов со среднем заработком не превышающего 200 тыс. р.\
Наиболее популярная цели кредитования — это операции с недвижимостью.

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера v1:</b> 
<br>Добавь в общий вывод описание клиента с наибольшей вероятностью просрочки, например, женат, 3е детей, доход - такой-то, цель кредита - такая-то. Для этого используй ответы на вопросы выше
</div>

Клиенты с наибольшей вероятностью просрочки:
<br> 1-2 ребенка с доходом до 50 тыс. в разводе кредиты на недвижимость и автомобили
<br> 1-2 ребенка с доходом до 200 тыс. получение образования в неполных семьях  или гражданском браке.
<br> 1-2 ребенка с доходом больше милн. женат/замужем Недвижимость.
<br> без детей при зарплате до 30 тыс. не женат/не замужем. Автомобиль и образование
<br> без детей при зарплате больше милн. Гражанский брак Получение образования
<br> Многодетные гражданский брак Получение образования и Свадьба
<br> Многодетные не женат/не замужем до 50 тыс. Недвижимость

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v2:</b> 
<br>Всё верно 👍
</div>

<div class="alert alert-danger">
<b>❌ Итоговый комментарий ревьюера v1:</b> 
<br>Ты хорошо потрудился, большая часть работы сделана, но остаётся внести следующие правки:
<br>- произвести отдельный расчет для ответа на третий вопрос
<br>- поправить ответы на итоговые вопросы
<br>- построить сводную таблицу используя метод pivot_table() для любого из вопросов в шаге 3. В таблице нужно произвести расчет доли должников внутри каждой группы клиентов. 
<br>- дописать  общий вывод
</div>

<div class="alert alert-success">
<b>✔️ Итоговый комментарий ревьюера v2:</b>
<br>Все правки выполнены. Молодец!
<br>Ты проделал большую работу! У тебя точные выводы с хорошей аргументацией. Здорово, что ты пишешь свои рассуждения и предположения - это помогает видеть ход твоей мысли. Отдельно хочу выделить аккуратность и структурированность твоей работы. Рад был поработать над проверкой твоего проекта! Желаю удачи в дальнейшем обучении! 😉
</div>